.demos {
  --demo-box-size: 65px;
  overflow: hidden;
  background: var(--surface-1);
  display: grid;
  align-items: center;
}

.demo-box {
  width: var(--demo-box-size);
  height: var(--demo-box-size);
  background-color: var(--text-2);
  border-radius: 1000px;
  display: grid;
  align-content: center;
  justify-content: center;
  color: var(--surface-1);
}

.unoptimized-demo-box {
  background-color: var(--accent-2);
}

.translate {
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 20px;

  @media (min-width: 1820px) {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

.translate > div {
  margin-bottom: var(--demo-box-size);

  @media (min-width: 1820px) {
    margin-bottom: 0;
    margin-right: var(--demo-box-size);
  }
}
