.graph-component {
  background: var(--surface-3);
  padding: 50px;
  overflow: hidden;
}

.graph-svg {
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible;
  pointer-events: none;
  /*transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);*/
}

.full-path,
.optimized-path {
  fill: none;
  stroke-width: 0.005px;
}

.full-path {
  stroke: red;
}

.optimized-path {
  stroke: var(--text-1);
}

.graph-axis {
  fill: none;
  stroke: var(--surface-4);
  stroke-width: 1px;
}

.points-svg {
  overflow: visible;
}
